html {
    background-color: #faf9f9;
}

h1 {
    color: #555b6e;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Asap', sans-serif;
    text-align: center;
    color: #555b6e;
    font-size: 18px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
    background-color: #bee3db;
    border-radius: 35px;
}

button {
    padding: 10px;
    margin: 5px 0;
    background-color: #89b0ae;
    color: white;
    opacity: 70%;
    border-radius: 35px;
    border: none;
    font-family: 'Asap', sans-serif;
    font-size: 18px;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    opacity: 100%;
}

p {
    margin: 8px;
}

input {
    width: 50%;
    height: 20px;
    padding: 10px 0 10px 0;
    /* margin-left: 5px; */
    background-color: #faf9f9;
    border-radius: 35px;
    border: none;
    font-family: 'Asap', sans-serif;
}

input:focus {
    outline: none;
}

#HomePage {
    margin-bottom: 90px;
}

#medListBox {
    padding-top: 8px;
    border-radius: 35px;
    width: 350px;
    height: 400px;
    background-color: #89b0ae;
    /* overflow-y: scroll;
    overflow-x: hidden; */
}

#outerMedBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#medBox {
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 35px;
    background-color: #ffeedd;
    padding: 10px;
    margin: 6px 0px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addMedButton {
    background-color: #b8b8ff;
    margin-left: 10px;
}

#LoginButton {
    margin-top: 15px;
}

#OtcCheckerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#LoginBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#LoginBox input {
    width: 100%;
    margin-bottom: 1vh;
    padding: 10px;
    font-size: 12pt;
    color: rgb(50, 50, 50);
}

#LoginBox input:focus::placeholder {
    color: transparent;
}

#OtcCheckerBox input {
    padding: 10px;
    font-size: 11pt;
    color: rgb(50, 50, 50);
}

#OtcCheckerBox input:focus::placeholder {
    color: transparent;
}

#medListBox input {
    padding: 10px;
    font-size: 12pt;
    color: rgb(50, 50, 50);
}

#medListBox input:focus::placeholder {
    color: transparent;
}

#SignupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}

#SignupForm input {
    width: 80%;
    margin-bottom: 1vh;
    padding: 10px;
    font-size: 12pt;
    color: rgb(50, 50, 50);
}

#SignupForm input:focus::placeholder {
    color: transparent;
}